<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Briefify</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div>
        <div class="logo">
            <a href='/'><img src="static\Briefify.png" height="100" width="100"></a>
        </div>
        <div class="head">
            <h1 class="heading">Briefify</h1>
            <h3>Distilling Complexity, Delivering Clarity</h3>
        </div> 
        {% if output %}
        <div class="output"><span id="span">{{output}}</span></div>      
        {% endif %} 
        <span class="feedback">
            <button id="button1" class="fa-button">
                <i class="fa-solid fa-thumbs-up"></i>
            </button>
                <button id='button2' class="fa-button">
                    <i class="fa-solid fa-thumbs-down"></i>
                </button>
            </span>
        <button class="loud submit">Read Aloud</button>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>